*{
    font-family: 'Nunito', sans-serif;
}


/*======================================= HEADER ======================================*/

header{
    background: #a5a5a5;
    padding: 20px 0px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;

    color: #000000;

    font-weight: bold;
    font-size: 22px;
}

nav a:hover{
    color: #923e3e;
    text-decoration: underline;
}
/*======================================= CONTEUDO PRINCIPAL ======================================*/
.banner{
    width: 100%
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear: left;
}

.titulo-principal:before{
    content: "[ ";
}

.titulo-principal:after{
    content: " ]";
}

.principal{
    padding: 3em 0;
    background: #fefefe;

    width: 940px;
    margin: auto;
}

.principal p{
    margin-bottom: 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px;
}


/*======================================= MAPA ======================================*/
.mapa-conteudo{
    width: 940px;
    margin: auto;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

/*======================================= CONTEUDO BENEFICIOS ======================================*/

.beneficios{
    padding: 3em 0;   
    background: #888888;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens{
    line-height: 1.5;
}

.itens:first-child{  /*pseudo classe - marcação para o primeiro iten*/
    font-weight: bold;
}

.itens:before{
    content: "🟀 ";
}

.imagem-beneficios{
    width: 60%;
    opacity: 1;
    transition: 600ms;
    box-shadow: 2px 2px 5px 5px black;
}
.imagem-beneficios:hover{
    opacity: 0.4;    
}

.video{
    width: 560px;
    margin: 2em auto;
}

/*======================================= MEDIA ======================================*/

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}


/*======================================= FOOTER ======================================*/
footer{
    text-align: center;
    padding: 10px 0px;

    background-color: #a5a5a5;
    background: url("../images/bg.jpg")
}

footer img{
    height: 280px;
}

.copyright {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

